html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

a {
  color: #0d00ff;
  text-shadow:
    0 0 2px #0d00ff,
    0 0 4px #0d00ff,
    0 0 6px #0d00ff;
  display: block;
  font-family: sans-serif;
  font-size: 16px; 
  text-decoration: none;
}

.github-link {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #0d00ff;
  text-decoration: none;
}

.github-icon {
  width: 16px; 
  height: 16px;
  text-shadow:
    0 0 2px #0d00ff,
    0 0 4px #0d00ff,
    0 0 6px #0d00ff;
}
